<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= article.post %>
  </p>

  <p>
    <strong>Usr:</strong>
    <%= article.usr_id %>
  </p>

</div>
