<h1>Welcome#sample</h1>
<p>Find me in app/views/welcome/sample.html.erb</p>

<%= "Message from Controller: #{@controller_message}" %>

<%= link_to("back", {:action => 'index',:id =>5, :random => 'Shams'} )%>